:root{
    --background: linear-gradient(to bottom, #eeeeee, #ffffff);
    --orange-linear: linear-gradient(#ef6C00, #db6300 );
    --gray-linear: linear-gradient(to bottom, #434854, #9e9e9e);
    --flat-orange: #ff6600;
    --flat-red: #cc3300;
    --flat-green: #32BF00;
    --gray: #cfcfcf;
    --white: #ffffff;
}
